@mixin basicBtn($bgClr){
    padding: 10px 30px;
    border: 20px solid rgb(0, 0, 0);
    background-color: $bgClr;

    &:hover{
        background-color: $btnBgColor;

        &::before{
            content: "HUHH";
            color: rgb(240, 11, 11);
        }

    }

    &::after{
        content: "WHAT THE FUCK";
    }

}

.App {
    
    h1 {
        font-weight: lighter;
    }

    button { 
        @include basicBtn(aqua);
    }
}