@mixin firstButton($btnColor){
    color: $btnColor;
    background-color: black;
    border-radius: 20px;
    padding: 10px 20px;

    &:hover{
        background-color: $btnColor;
        color: black;
    }

    &::after{
        content: "DO NMOT CLICK ME PLSSSS"
    }
}




.App{

    button{
        @include firstButton(red);
    }
    
}